<!--
*,
*::before,
*::after{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Rubik';
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items:center;
    align-items: center;
    align-content: center;
}

video{
    object-fit:cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display:block;
    margin:auto;
    z-index:-1;
}

h1{
    font-size: 6rem;
    text-align: center;
    font-weight:bold;
    font-family: Goldman;
    color:#bb9e9e;
    animation: bounce 2.5s ease-in infinite alternate;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
}

.turn{
    display:flex;
    font-size:2rem;
    justify-content: space-evenly;
    border-radius:10px;
    padding:10px 20px;
}

.turn div{
    margin:0px 10px;
    font-weight:500;
    color:#ffffff;
    padding:5px 10px;
    border-radius:10px;
    transition:0.2s all ease-in;
}

.turn-display{
    background:#FF4C29;
}

.board{
    width: 400px;
    height: 400px;
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
}

.cell{
    background:#082032;
    color:#110e0e;
    border-radius:10px;
    margin:3px;
    font-size:7rem;
    color:white;
    display:grid;
    place-items: center;
    min-height:0;
    min-width:0;
    cursor:pointer;
    box-shadow: 0 0 10px white;
}

.cell:hover {
    background-color:#FF4C29 !important;
}

.previous, .next{
    visibility: hidden;
}

.result{
    color:#000000;
    padding:100px;
    z-index: -1;
    background-color: #f0f0f0;
    opacity:0;
    position: fixed;
    width:100vw;
    transform:scale(0);
    transform:translatey(-50%);
    transition: all 0.3s ease-in;
}

.result-text{
    color:black;
}


.show{
    z-index:1;
    opacity:1;
    transform:scale(1);
}

.hide{
    z-index: -999;
}








-->
