<!--
*,
*::before,
*::after{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Rubik';
    background-color:#2C394B;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items:center;
    align-items: center;
    align-content: center;
}

h1{
    font-size: 5rem;
    text-align: center;
    font-weight:700;
}

.turn{
    display:flex;
    font-size:2rem;
    justify-content: space-evenly;
    border-radius:10px;
    padding:10px 20px;
}

.turn div{
    margin:0px 10px;
    font-weight:500;
    color:black;
    padding:5px 10px;
    border-radius:10px;
    transition:0.2s all ease-in;
}


.board{
    width: 400px;
    height: 400px;
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
}

.cell{
    background:#082032;
    color:#110e0e;
    border-radius:10px;
    margin:3px;
    font-size:7rem;
    color:white;
    display:grid;
    place-items: center;
    min-height:0;
    min-width:0;
}

.cell:hover {
    background-color:#FF4C29 !important;
}









-->
