<!--
*,
*::before,
*::after{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Goldman';
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items:center;
    align-items: center;
    align-content: center;
}

video{
    object-fit:cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display:block;
    margin:auto;
    z-index:-1;
}

h1{
    font-size: 6rem;
    text-align: center;
    font-weight:bold;
    font-family: Goldman;
    color:#FFEFCF;
    animation: bounce 2.5s ease-in infinite alternate;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(15px);
    }
}

@keyframes scale{
    from{
        transform: scale(1)
    }
    to{
        transform:scale(1.05)
    }
}

.turn{
    display:flex;
    font-size:2rem;
    justify-content: space-evenly;
    border-radius:10px;
    padding:10px 20px;
}

.turn div{
    margin:0px 20px;
    font-weight:500;
    color:#ffffff;
    padding:5px 10px;
    border-radius:10px;
    transition:0.2s all ease-in;
}

.turn-display{
    background:#B42B51;
    opacity:0.8;
}

.board{
    width: 400px;
    height: 400px;
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
}

.cell{
    background:#420516d3;
    color:#110e0e;
    border-radius:10px;
    margin:5px;
    font-size:7rem;
    color:white;
    display:grid;
    place-items: center;
    min-height:0;
    min-width:0;
    cursor:pointer;
    box-shadow: 0 0 5px white;
    transition:all 150ms ease-in;
}

.cell:hover {
    background-color:#B42B51 !important;
}

.previous, .next{
    visibility: hidden;
}

.result{
    color:#000000;
    padding:100px;
    z-index: -1;
    background-color: #f0f0f0;
    opacity:0;
    position: fixed;
    width:100vw;
    transform:scale(0);
    transform:translatey(-50%);
    transition: all 0.3s ease-in;
}

.result-text{
    color:black;
}


.show{
    z-index:1;
    opacity:1;
    transform:scale(1);
}

.hide{
    z-index: -999;
}

button{
    border:none;
    font-family: Goldman;
    background-color:lightgray;
    color:black;
    outline:none;
    font-size:1.5rem;
    margin:10px;
    padding:10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 50ms ease-in;
}

button:hover{
    background-color:#662d3d;
    color:white;
}

.scoreboard-container{
    display:flex;
    color:white;
    font-size:1.1rem;
}
.scoreboard-container div{
    margin:0px 20px;
}


/* MEDIA QUERIES */
@media screen and (max-width: 710px){
    .title{
        font-size:4rem;
    }

    button{
        font-size:1rem;
    }
}
@media screen and (max-width: 482px){
    .title{
        font-size:3rem;
    }
    .turn{
        font-size:1.5rem;
    }
    button{
        font-size:1rem;
    }
}

@media screen and (max-width: 374px){
    .title{
        font-size:3rem;
    }
    .turn{
        font-size:1rem;
    }
    .board{
        width:350px;
        height:350px;
    }
    button{
        font-size:1rem;
    }
}







-->
