<!--
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body,html{
    scroll-behavior: smooth;
    background:url('hotelbg.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
}

.parallax{
background:url('bg.jpg'),#0a1931d8;
background-repeat: no-repeat;
background-size:cover;
background-attachment: fixed;
background-blend-mode: overlay;
max-width:1920px;
height:1000px;
}

#heading{
    position: relative;
    max-width: 100%;
    top:300px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

#title{
    font-size:5em;
    padding-left:20px;
    color:#FFD369;
    font-family:'Mukta';
}

#description{
    font-size:1em;
    padding-left: 40px;
    color: #FFD369;
    font-family: 'Roboto';
}

#link{
    display:flex;
    color:black;
    font-family:'Roboto';
    position:relative;
    top:40px;
    left:25%;
}

#link a{
    transition: 0.5s;
    padding:10px;
    color:#FFD369;
    border-color:#FFD369;
    background-color: rgba(0, 0, 0, 0.664);
    border: 1px solid #FFD369;
    border-radius: 10px;
    text-decoration: none;
    font: size 1.3em;

}

#link a:hover{
    box-shadow: 1px 1px 20px #FFD369;
}

#link a:visited{
    color:FFD369;
}

.container-main{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    max-width: 100%;
    align-content: center;
    padding-top:100px;
}

#whole-form{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    padding:20px;
    border-radius:20px;
    background-color:#222831;
    box-shadow: 5px 5px 20px #FFD369;
}
#survey-title{
    display:flex;
    text-align: center;
    flex-direction: column;
    font-family:'Corben';
    letter-spacing: 2px;
    border-radius:20px;
    background-color:#EEEEEE;
    margin-bottom: 20px;
}
.form-survey{
    display: flex;
    flex-direction: column;
    max-width:100%;
    padding-top:20px;
    background-color:#EEEEEE;
    color:#222831;
    border-radius: 20px;
}

.personal-info{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
max-width: 100%;
font-family:'Montserrat';
padding-bottom: 20px;
}

.primary-info{
    display:flex;
    flex-direction: column;
    width:30%;
    font-size:'Montserrat';
}


.primary-info label{
    padding-top:8px;
    padding-bottom:8px;
    font-size:1em;
}

.secondary-info{
    display:flex;
    flex-direction: column;
    width:50%;
    align-items: flex-start;
}

.secondary-info p{
    padding: 8px 0 8px 0;
}
.sex-btn label{
    font-size:0.8rem;
}

.checkboxes label{
    font-size:0.8rem;
}

.checkboxes p{
    padding-bottom: 5px;
}



.survey-section{
    padding-top:15px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
}

.category{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.category h1{
    
    display: flex;
    width:50%;
    justify-content: space-around;
    font-family: 'Montserrat';
    font-size: 1.5em;
}

.item{
width:100%;
display: flex;
justify-content: flex-start;
align-items: center;
margin:0;
font-family: 'Roboto';
margin-bottom:5px;
}

.label{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
    width:50%;
    padding-bottom:0.2rem;
}
.value{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:50%;
}

.comments{
    display:flex;
    flex-direction: column;
    position:relative;
    font-family:'Montserrat';
    font-size:1rem;
    max-width: 100%;
}
.submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom:20px;
    padding-top:10px;
}


input[type='text']{
    border:0;
    background:none;
    border-bottom:2px solid black;
}

input[type='text']:focus{
    outline:none !important;
}

#feedback{
    background:none;
}

#feedback:active{
    border:0;
}

::placeholder{
    opacity:0.6;
}

#dropdown{
    border-radius:20px;
    background:none;
}
#dropdown:focus{
    outline:none !important;
}
#email{
    border:0;
    background:none;
    border-bottom:2px solid black;
}
#email:focus{
    outline:none !important;
}

button[type = 'submit']{
    transition: 0.2s;
    font-size:0.9em;
    padding:3px;
    color:#0a1931d8;
    border: 1px solid #0a1931d8;
    padding:5px;
    border-radius: 10px;
}

button[type = 'submit']:hover{
    background-color: #0a1931d8;
    color:#FFD369;
}


@media only screen and (max-width:320px){

    .parallax{
        max-width: 100%;
    }

    #heading{
        top:20px;
    }

    #whole-form{
        display:block;
    }

    .container-main{
        display:block;
    }

    .personal-info{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .primary-info{
        flex-wrap:nowrap;
        width:100%;
    }

    .secondary-info{
        width:100%;
    }

    .category h1{
        justify-content: center;
    }
}











-->
