<!--

*{
	box-sizing: border-box;
}

body,html{
    background:#171010;
}

#board-container{
    display:flex;
    position:relative;
    top:50px;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

#board{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    height:600px;
    width:600px;
    border: 5px solid white;
    box-shadow:5px 5px 20px white;
}

.black{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    background-color:#865439;
    width:12.5%;
    height:12.5%;
}

.white{
    flex-wrap:wrap;
    flex-direction: row;
    background-color:#C68B59;
    display:flex;
    width:12.5%;
    height:12.5%
}

.top {
    color:black;
    justify-content: center;
    align-content: center;
    font-size:50px;
}

.bot{
    color:white;
    font-size:50px;
    justify-content: center;
    align-content: center;
}








-->
