<!--
*{
    box-sizing: border-box;
}

html, body,main{
    background-color: black;
    color:white;
    padding:0;
    margin:0;
    height:100%;
}

video{
    object-fit:cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display:block;
}

header{
    margin:0;
    position:relative;
    max-width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.65);
}

header > h1{
    margin:0;
    padding-left: 100px;
    position:relative;
    top:50%;
    color:#1DB954;
    font-family: Nunito;
    font-size:4.7rem;
}

header > p{
    margin:0;
    padding-left: 110px;
    position:relative;
    top:50%;
    color:#50D890;
    font-family: nunito;
    font-size:2rem;
}

#header-link{
    position: relative;
    top:55%;
    left:45vw;
    padding:10px;
    font-size:1rem;
    border-radius:20px;
    font-family: nunito;
    text-decoration: none;
    font-weight:bold;
    background:#EFFFFB;
    color:#191414;
}


.fade-in{
    position:relative;
    opacity:0;
    transition:opacity 1s ease-in;
}

.appear{
    opacity:1;
}

nav{
    position:absolute;
    background: black;
    width:100%;
    display:flex;
    align-items:center;
    padding:10px 150px; 
    margin:0;
}

.nav-right{
    margin-left:auto;
    display: flex; 
    gap:70px;
    font-size:1.2rem;
    font-family:nunito;
}

.nav-link{
    transition:0.4s;
    text-decoration: none;
}

.nav-link:visited{
    color:white;
}

.nav-link:hover{
    color:#50D890;
}

.about-container{
    background:#191414;
    position:relative;
    display: flex;
    flex-direction: column;
    padding:100px 250px;
    max-width: 100%;
    align-items: center;
    flex-wrap:wrap;
    font-family:Montserrat;
}
.about-container > h1{
    font-size:2rem;
    color:#EFFFFB;
}

.about-container > p{
    line-height:1.5em;
    font-size:1.2rem;
    color:#effffbc2;
}

.media-container{
    padding-top:50px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:50px;
}

iframe{
    border-radius: 20px;
}


.premium-container{
    align-items: center;
    padding:150px 300px;
    position: relative;
    background-color: #EFFFFB;
    font-family:montserrat;
    color:#191414;
    display:flex;
    flex-direction: column;
}

.premium-container > h1{
    font-size:2.3rem;
    padding-bottom:20px;
}

.premium-item{
    display: flex;
    gap: 20px;
    text-align: center;
}

.premium-list{
    padding:20px;
    display:flex;
    flex:1;
    flex-direction: column;
    align-items:center;
}

.plans{
    position: relative;
    padding:150px 300px;
    background-color:#191414;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:montserrat;
}

.plans >h1{
    font-size:4.5rem;
    margin:0;
    color:white;
}

.plans>p{
    font-size:2rem;
    padding:0;
}

.plans-container{
    flex-direction: row;
    gap:50px;
    display: flex;
    flex-wrap:wrap;
}

.plans-item{
    display:flex;
    flex-direction: column;
    flex:1;
    background:black;
}

.plans-title{
    background:#1DB954;
    padding: 0px 10px;
    margin:0;
}

.plans-title>h3{
    font-size:1.5rem;
    margin-bottom:0;
}


ul{
    list-style-type:none;
}

li{
    text-decoration: none;
    padding:0px 10px 10px 0px;
}

ul li:before {
    content: '✓ ';
  }

.contact-container{
    position:relative;
    width:100%;
    height:30vh;
    background-color:grey;
}









-->