<!--
*,
*::before,
*::after{
    box-sizing: border-box;
}

html, body,main{
    background-color: black;
    color:white;
    padding:0;
    margin:auto;
    max-width:100%;
    height:100vh;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background:#1DB954;  /* color of the scroll thumb */
    border-radius: 50px;       /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
  }
  

video{
    object-fit:cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display:block;
    margin:auto;
}

header{
    margin:0;
    position:relative;
    max-width:100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.65);
}

.header-text{
    position:relative;
    top:50%;
    padding-left:60px;
}

.header-text > h1{
    margin:0;
    color:#1DB954;
    font-family: Nunito;
    font-size:4.7em;
}

.header-text > p{
    margin:0;
    padding-left:30px;
    color:#50D890;
    font-family: nunito;
    font-size:2rem;
}

#header-link{
    position:relative;
    top:40px;
    left:40%;
    padding:5px 10px;
    font-size:1.5rem;
    border-radius:10px;
    font-family: nunito;
    text-decoration: none;
    font-weight:bold;
    background:#EFFFFB;
    color:#191414;
    transition: all 0.2s ease-in;
}

#header-link:hover{
    background:black;
    font-weight:normal;
    color: #effffb;
}


.fade-in{
    position:relative;
    opacity:0;
    transition:opacity 3s ease-in;
}

.appear{
    opacity:1;
}

.slide-in{
    position:relative;
    opacity:0;
    transform:translatex(50px);
    transition:all 0.5s ease-in;
}

.slide-left{
    position:relative;
    opacity:0;
    transform:translatex(-50px);
    transition:all 0.5s ease-in;
}

.appear-slide{
    opacity:1;
    transform:none;
}


nav{
    position:fixed;
    z-index:1;
    background: black;
    width:100%;
    display:flex;
    align-items:center;
    padding:10px 150px; 
    margin:0;
}

.nav-right{
    margin-left:auto;
    display: flex; 
    gap:70px;
    font-size:1.1rem;
    font-family:nunito;
}

.nav-link{
    transition:0.4s;
    text-decoration: none;
    color:white;
}

.nav-link:visited{
    color:white;
}


.nav-link:nth-child(4){
    color:rgb(121, 121, 121);
}

.nav-link:hover{
    color:#50D890;
}

.burger{
    display:none;
}
.burger div{
    width:25px;
    height:3px;
    background-color: white;
    margin:5px;
}


.svg-container{
    position:absolute;
    top:0;
    width:100%;
}
.about-container{
    background:#191414;
    position:relative;
    display: flex;
    flex-direction: column;
    padding:150px 250px;
    align-items: center;
    flex-wrap:wrap;
    font-family:Montserrat;
}

.about-container > h1{
    padding-top:100px;
    font-size:2rem;
    color:#EFFFFB;
}

.about-container > p{
    line-height:1.7;
    font-size:1.2rem;
    color:#effffbc2;
}

.highlight{
    position:relative;
    color:#1DB954;
    font-weight: bold;
  }

.media-container{
    padding-top:50px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:50px;
    max-width:100%;
}

.media{
    display:flex;
    justify-content: center;
    max-width:100%;
}

iframe{
    border-radius: 20px;
    box-shadow: 0px 0px 5px #1db954;
}

.fade-in{
    opacity:0;
    transform: translateY(20px);
    transition:0.5s all ease-in-out;
    transition-delay:0.3s;
}

.appear{
    opacity:1;
    transform: none;
}

.premium-container{
    align-items: center;
    padding:150px 300px;
    position: relative;
    background-color: #EFFFFB;
    height:auto;
    font-family:montserrat;
    color:#191414;
    display:flex;
    flex-direction: column;
}

.premium-container > h1{
    font-size:2.3rem;
    padding-bottom:20px;
    font-weight:bold;
    transition-delay:0.3s;
}

.premium-item{
    display: flex;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
}

.premium-list{
    padding:20px;
    position:relative;
    display:flex;
    flex:1;
    flex-direction: column;
    align-items:center;
}


.premium-list:nth-child(1){
    transition-delay:0s;
}
.premium-list:nth-child(2){
    transition-delay:0.5s;
}
.premium-list:nth-child(3){
    transition-delay:1s;
}
.premium-list:nth-child(4){
    transition-delay:1.5s;
}

.premium-list:hover{
    animation: bounce 0.5s infinite alternate;
    -webkit-animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
}

.plans{
    position: relative;
    max-width: 100%;
    padding:50px 300px;
    background-color:#191414;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:montserrat;
}

.plans >h1{
    padding-top:50px;
    font-size:4.5rem;
    margin:0;
    background-image:linear-gradient(to top, #1db954,white);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;

}

.plans>p{
    font-size:2rem;
    padding:0;
    color:rgb(194, 194, 194);
}

.plans-container{
    max-width:100%;
    flex-direction: row;
    gap:30px;
    display: flex;
    flex-wrap:wrap;
}

.plans-item{
    display:flex;
    flex-direction: column;
    max-width: 100%;
    flex-wrap:wrap;
    justify-content: space-between;
    flex:1;
    background:#ffffffc0;
    color:black;
    border-radius:15px;
    transition: 0.2s ease-in;
}

.plans-item:hover{
    box-shadow: 0px 0px 10px 5px white;
    
}

.plans-title{
    background:#1db954;
    text-align:center;
    padding: 0px 10px;
    margin:0;
    border-radius:15px;
}

.plans-title>h3{
    font-size:2rem;
    margin-bottom:0;
    color:#EFFFFB;
}

.plans-title>p{
    font-size:1rem;
    color:black;
    font-weight:bold;
    padding:0;
}

ul{
    list-style-type:none;
}

li{
    text-decoration: none;
    padding:0px 10px 10px 0px;
    line-height:1.4;
    font-weight:bold;
    color:#191414;
}

::marker{
    content: '✓ ';
    color:green;
}


.plans-button{
    
    padding-bottom:20px;
   display:flex;
   justify-content: center;
}

.plans-button > a{
    padding:5px 10px;
    background:black;
    border-radius:20px;
    text-decoration:none;
    text-align: center;
    font-size:1.2rem;
    color:#EFFFFB;
    font-family:nunito;
    transition:0.2s ease-in-out;
}

.plans-button > a:hover{
    transform:scale(1.05);
}


.contact-container{
    position:relative;
    width:100%;
    height:50vh;
    background-color:black;
    display:flex;
    font-family:nunito;
    color:white;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.contact-container h1{
    margin:0;
    font-size:3rem;
}

.contact-container p{
    font-size:1.5rem;
    color:rgba(255, 255, 255, 0.87);
}

.footer-container{
    position:relative;
    background:black;
    display: flex;
    flex-wrap: wrap;
    padding:30px 150px;
    flex-direction:column;
    font-family:nunito;
}


.footer-one{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
.logo-footer img{
    width:100%;
    height:100%;
}

.footer-links{
    display:flex;
    flex-direction:row;
    gap:10px;
}
.footer-row{
    display:flex;
    flex-wrap:wrap;
    width:80%;
    padding-top:50px;
}

.footer-links{
    display:flex;
    flex-direction: column;
    text-decoration: none;
    color:darkgray;
    transition:0.3s ease-in-out;
    padding:0px 50px;
}

.footer-links h3{
    color:#effffb;
}

.footer-links a{
    text-decoration: none;
}

.footer-links a:visited{
    color:darkgray;
}

.footer-links a:hover{
    color:#1DB954;
}

.email-container{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    flex-basis:50%;
}

#form{
    padding-top:20px;
}

#email{
    border:0;
    background:none;
    border-bottom:2px solid #1DB954;
    font-family: nunito;
    color:#effffb;
}

#email:focus{
    outline:none;
    border:0;
    background:none !important;
    border-bottom:2px solid #1DB954;
    color:#EFFFFB;
}




.logo-footer{
    height:30px;
    width:100px;
    position:relative;
    display:flex;
}

.footer-two{
    padding-top:100px;
    display:flex;
    gap:70px;
}

.footer-two a{
    text-decoration:none;
    font-size:0.8rem;
    color:darkgray;
    transition: 0.3s ease-in-out;
}

.footer-two a:visited{
    color:darkgray;
}

.footer-two a:hover{
    color:#1DB954;
}

/* ----- MEDIA QUERIES ----- */
/* ----- MEDIA QUERIES ----- */
/* ----- MEDIA QUERIES ----- */
/* ----- MEDIA QUERIES ----- */


@media screen and (max-width:1441px){

    .media-container{
        flex-direction: column;
    }
}

@media screen and (max-width:1025px){
    .header-text h1{
        font-size:3rem;
    }

    .header-text p{
        font-size:1.5rem;
    }

    #header-link{
        font-size:1rem;
    }

    .about-container{
        padding:100px 80px;
    }

    .premium-container{
        padding: 100px 80px;
    }

    .plans{
        padding:20px;
    }

    .footer-container{
        padding:20px 0;
    }

    .footer-two{
        padding-left:30px;
    }
}



@media screen and (max-width:769px){
    header{
        position:relative;
        overflow-x:hidden;
        padding-bottom:100px;
    }

    header > h1{
        font-size:4rem;
        padding-left:20px;
    }

    header > p{
        font-size:1.5rem;
        padding-left:25px;
    }

    nav{
        padding: 10px 20px;
    }

    .nav-right{
        overflow-x: hidden;
        position:absolute;
        right:0;
        padding-top:20px;
        width:100%;
        height:92vh;
        top:8vh;
        background: rgba(0, 0, 0, 0.95);
        display:flex;
        flex-direction: column;
        align-items: center;
        transform:translatex(100%);
        transition: all 0.5s ease-in;
        opacity:0;
    }

    .burger{
        display:block;
        position:absolute;
        right:30px;
        cursor:pointer;
    }

    .nav-active{
        opacity:1;
        transform:none;
        z-index:1;
        transition:0.5s ease-in;

    }

    .about-container{
        background:#191414;
        position:relative;
        display: flex;
        flex-direction: column;
        padding:100px 50px;
        max-width: 100%;
        align-items: center;
        flex-wrap:wrap;
        font-family:Montserrat;
    }

    .about-container > h1{
        font-size:2.2rem;
        color:#EFFFFB;
    }
    .premium-container{
        align-items: center;
        padding:80px 50px 0px 50px;
        position: relative;
        background-color: #EFFFFB;
        font-family:montserrat;
        color:#191414;
        display:flex;
        flex-direction: column;
        text-align:center;
    }
    
    .premium-container > h1{
        font-size:2.3rem;
        padding-bottom:20px;
    }
    
    .premium-item{
        display: flex;
        gap:30px;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .premium-list{
        display:flex;
        flex:1;
        flex-direction: column;
        align-items:center;
    }

    .premium-list p{
        text-align:center;
    }

    .plans{
        position: relative;
        max-width: 100%;
        padding:100px 30px;
        background-color:#191414;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family:montserrat;
    }

    .plans h1{
        font-size:3rem;
    }
    
    
    .plans>p{
        font-size:1.5rem;
        padding:0;
    }
    
    .plans-container{
        max-width:100%;
        flex-direction: column;
        align-items: center;
        gap:50px;
        display: flex;
        flex-wrap:wrap;
    }
    
    .plans-item{
        display:flex;
        flex-direction: column;
        align-content: center;
        max-width: 40%;
        flex-wrap:wrap;
        justify-content: space-between;
        background:#ffffffc0;
        border-radius:15px;
        transition: 0.2s ease-in;
    }
    
    .plans-item:hover{
        box-shadow: 0px 0px 10px 5px white;
        
    }
    
    .plans-title{
        background:#1db954;
        text-align:center;
        padding: 0px 10px;
        margin:0;
        border-radius:15px;
    }
    
    .plans-title>h3{
        font-size:1.5rem;
        margin-bottom:0;
        color:#effffb;
    }

    .plans-title p{
        font-size:1rem;
        color:black;
    }
    
    ul{
        list-style-type:none;
    }
    
    li{
        text-decoration: none;
        padding:0px 10px 10px 0px;
    }
    
    ::marker{
        content: '✓ ';
        color:#1db954;
    }
    .plans-button{
        padding-bottom:20px;
        display:flex;
        justify-content:center;
    }
    
    .plans-button > a{
        padding:5px 10px;
    background:black;
    border-radius:20px;
    text-decoration:none;
    text-align: center;
    font-size:1.2rem;
    color:#EFFFFB;
    font-family:nunito;
    }


    .footer-container{
        display: flex;
        flex-direction: column;
    }

    .footer-one{
        display: flex;
        flex-direction: column;
    }

    .footer-row{
        display: flex;
        flex-direction: column;
    }

    .email-container{
        padding-top:40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:426px){
    .header-text{
        padding:5px;
    }

    .header-text p{
        padding-top:10px;
        padding-left:10px;
    }

    .plans-item{
        max-width: 100%;
    }

    .footer-links{
        align-items:center;
    }
}


@media screen and (max-width:376px){
    .header-text{
        position:relative;
        top:40%;
    }

    .premium-list{
        transition-delay: 0s;
    }
}







-->